<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= Locale.get %>" lang="<%= Locale.get %>">
  <head>
    <title> <%= _('Rails Demonstration') %> </title>
	<link rel="stylesheet" type="text/css" href="/javascripts/extjs/resources/css/ext-all.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/rged.css">
<style type="text/css">
#acc-ct {
	width: 240px;
	position: relative;
}
#acc-wrap {
	border: 1px solid silver;
	background-color: white;
}
#adsense-top, #adsense-bottom {
	margin: 10px;
}
.x-dock-panel .x-dock-panel-body {
	background-color: #ffffc8;
}
</style>
  </head>
  <body>
    <% if logged_in? %>
      <%= link_to 'logout', :controller => '/account', :action => 'logout' %>
    <% end %>
    <p style="color: green;"><%= flash[:notice] %></p>
    <%= @content_for_layout %>
  </body>
</html>
