<%= error_messages_for 'departments' %>

<!--[form:departments]-->

    <p><label for="name"> <%= _('Department Name') %> </label>
      <%= text_field 'departments', 'name' %>
    </p>

<!--[eoform:departments]-->

