/* 
    Document   : rged
    Created on : Oct 3, 2007, 4:45:53 PM
    Author     : patou
    Description:
        Purpose of the stylesheet follows.
*/

rged-adress { 
    width: 500px;
}

.menu-rename .x-btn-text { 
    background-image: url(../images/icons/pencil.png); 
} 
        
.menu-delete .x-btn-text { 
    background-image: url(../images/icons/cross.png); 
} 

.menu-refresh .x-btn-text { 
    background-image: url(../images/icons/arrow_refresh.png); 
} 
        
.menu-download .x-btn-text { 
    background-image: url(../images/icons/arrow_down.png); 
} 

.menu-logout .x-btn-text { 
    background-image: url(../images/icons/application_go.png); 
} 