<% @users_department = users_department %>

<div id="<%= "users_department_#{users_department.id}" %>">
	<fieldset>
                
		<label class="first" for="users_department_<%=users_department.id %>_department_id">
			Name:
			<%= select "users_department[#{users_department.id}]", 'department_id', nested_set_options_for_select(Department), :selected => users_department.department_id %>
		</label>

		<% unless controller.action_name == 'show' %>
		 		<%= sub_list_remove_link users_department, 'Users_department' %>
  		<% end %>
	</fieldset>
</div>